@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Nanum+Myeongjo&family=Playpen+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-playpen-sans{
    font-family: 'Playpen Sans', cursive;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }