@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Nanum+Myeongjo&family=Playpen+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --scale: 0.7;
}

html{
  scroll-behavior: smooth;
}

.font-playpen-sans{
    font-family: 'Playpen Sans', cursive;
}

.rating input::before{
  content: '\f005';
  position: absolute;
  font-family: fontAwesome;
  font-size: calc(22px*var(--scale));
  transition: 0.5s;
  left: calc(10px*var(--scale));
}

.rating input:nth-child(2n+1)::before{
  left: initial;
  right: calc(10.5px*var(--scale));
}

.responsive-height{
  min-height: calc(100vh - 87.45px);
  min-height: calc(100svh - 87.45px);
}

.swiper-pagination-bullet-active-main{
  background-color: #7D5BA6 !important
}

.swiper-pagination-bullet-active{
  background-color: #C9A8F1;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #C9A8F1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7D5BA6;
}

.slideUp {
    animation-name: slideUp;
    animation-duration: 400ms;
}
 
.fade {
  animation: fade;
  animation-duration: 400ms;
}

@keyframes slideUp {
  from {opacity: .4; margin-top: 1rem;}
  to {opacity: 1; margin-top: 0.5rem;}
}

@keyframes fade {
  from { opacity: 0; }
  to {opacity: 1;}
}
